<a href="https://colab.research.google.com/github/vasanthi2469/Python-Training/blob/main/Indexi-True_False_11-12-2024-.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
Set=pd.read_csv('/content/Set.csv')

In [6]:
Set

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,NaN,NaN,...,['\nLangstreckenfahrzeug daher die hohe Kilome...,['\n4 (Green)\n'],['\n7\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",08/2016,1 previous owner,NaN,...,"['\nAudi A1: ', '- 1e eigenaar ', '- Perfecte ...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",05/2016,1 previous owner,NaN,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,NaN,NaN,...,['\nVettura visionabile nella sede in Via Roma...,NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"['\nDach: Panorama-Glas-Schiebedach, Lackierun...",NaN,['\n7\n'],['\nGermany\n'],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"['\n', 'Getriebe:', ' Automatik', 'Technik:', ...",NaN,['\n6\n'],['\nAustria\n'],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,NaN,NaN,...,"['\nDEK:[2691331]', 'Renault Espace Blue dCi 2...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"['\n', 'Sicherheit Airbags:', ' ', 'Seitenairb...",['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

# **Assignment-1**
Task-1: -
Reset_index where drop is **True **

In [7]:
Set.reset_index(drop=True)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,NaN,NaN,...,['\nLangstreckenfahrzeug daher die hohe Kilome...,['\n4 (Green)\n'],['\n7\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",08/2016,1 previous owner,NaN,...,"['\nAudi A1: ', '- 1e eigenaar ', '- Perfecte ...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",05/2016,1 previous owner,NaN,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,NaN,NaN,...,['\nVettura visionabile nella sede in Via Roma...,NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"['\nDach: Panorama-Glas-Schiebedach, Lackierun...",NaN,['\n7\n'],['\nGermany\n'],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"['\n', 'Getriebe:', ' Automatik', 'Technik:', ...",NaN,['\n6\n'],['\nAustria\n'],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,NaN,NaN,...,"['\nDEK:[2691331]', 'Renault Espace Blue dCi 2...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"['\n', 'Sicherheit Airbags:', ' ', 'Seitenairb...",['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

## **SUMMARY :-**

The line `Set.reset_index(drop=True)` resets the index of the Pandas DataFrame called `Set`.  Let's break down what that means:

* **Index:**  Every DataFrame has an index, which is a unique identifier for each row.  By default, Pandas assigns a numerical index starting from 0. However, sometimes your index might be something else (e.g., a date, a customer ID) or it might be scrambled.

* **`reset_index()`:** This function reassigns the index to a default numerical sequence (0, 1, 2, ...).

* **`drop=True`:**  Crucially, the `drop=True` argument tells Pandas *not* to keep the old index as a new column in the DataFrame.  If you omitted `drop=True`, the old index would become a new column named "index".  With `drop=True`, the old index is simply discarded.

**In short:** The code takes your `Set` DataFrame and gives it a clean, sequential numerical index, removing the old index without adding a new column.

# **Assignment-1**
Task-2: -
Reset_index where drop is **False**

In [8]:
Set.reset_index(drop=False)

,index,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,...,"['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,NaN,...,['\nLangstreckenfahrzeug daher die hohe Kilome...,['\n4 (Green)\n'],['\n7\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,...,"['\n', 'Fahrzeug-Nummer: AM-95365', ' ', 'Ehem...",['\n4 (Green)\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,NaN,"73,000 km",08/2016,1 previous owner,...,"['\nAudi A1: ', '- 1e eigenaar ', '- Perfecte ...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,NaN,"16,200 km",05/2016,1 previous owner,...,"['\n', 'Technik & Sicherheit:', 'Xenon plus', ...",NaN,NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,NaN,...,['\nVettura visionabile nella sede in Via Roma...,NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,...,"['\nDach: Panorama-Glas-Schiebedach, Lackierun...",NaN,['\n7\n'],['\nGermany\n'],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,...,"['\n', 'Getriebe:', ' Automatik', 'Technik:', ...",NaN,['\n6\n'],['\nAustria\n'],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,NaN,...,"['\nDEK:[2691331]', 'Renault Espace Blue dCi 2...",NaN,['\n6\n'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,...,"['\n', 'Sicherheit Airbags:', ' ', 'Seitenairb...",['\n4 (Green)\n'],NaN,['\nGermany\n'],NaN,NaN,NaN,NaN,NaN,NaN

# **SUMMARY: -**

 The line `Set.reset_index(drop=False)` resets the index of the DataFrame `Set`, but unlike `drop=True`, it keeps the old index.

# Let's illustrate:

 Assume your Set DataFrame initially looks like this:
  # old_index  column1  column2
  # 0          A        X
  #2           B        Y
  #5           C        Z

 Set.reset_index(drop=True) would produce:
   #column1  column2
   #A        X
   #B        Y
   #C        Z

 Set.reset_index(drop=False) would produce:
#   index  column1  column2
#   0         0       A        X
#   1         2       B        Y
#   2         5       C        Z
 The old index (0, 2, 5) is now stored in a new column named 'index', and a new default numerical index (0, 1, 2) is created.

In [10]:
Set.to_csv('output.csv', index=False)  # index=False prevents writing row indices to the CSV

# **SUMMARY: -**
### index=False prevents writing row indices to the CSV

In [12]:
Set.to_csv('output.csv', index=True)

 SUMMARY: -
 The line `Set.to_csv('output.csv', index=True)` saves the DataFrame `Set` to a CSV file named 'output.csv'.

 The key part is `index=True`.  This tells the `to_csv` function to include the DataFrame's index in the output CSV file.  

 If `index=True` (or if you omit the `index` parameter entirely, as it defaults to True):

 The index (the row labels) of your DataFrame will be written as the first column in the CSV.

In [15]:
Set.to_csv('output.csv', index=)

SyntaxError: invalid syntax (<ipython-input-15-4f113205d93a>, line 1)

In [14]:
Set.to_csv('output.csv', index='')

**#SUMMARY: -**

The line `Set.to_csv('output.csv', index='')` attempts to write the DataFrame `Set` to a CSV file named 'output.csv', but the `index=''` argument is not a valid option for the `index` parameter in the `to_csv` function.

The `index` parameter in `pd.DataFrame.to_csv()` accepts either `True`, `False`, or a label.

*   **`index=True` (default):** Includes the DataFrame index in the output CSV file as the first column.
*   **`index=False`:** Excludes the DataFrame index from the output CSV file.
*   **`index=<label>`:**  Use this if you have a specific column you want to use as the index. The provided label should be an existing column name in your DataFrame.

Since `index=''` is invalid, the behavior might depend on the Pandas version and could potentially result in an error or unexpected behavior. To avoid any such issue, use either `index=True` or `index=False` instead.